{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-10">
          <div class="gallery-item">
            <div class="card" style="width: 75rem;">
              <div class="custom-card-header">
                <div class="modal-image">
                  {% for image in images %}
                    <p class="username">{{image.name}}</p> 
                    <p class="card-text username">{{image.username}} <span class="caption"> {{image.caption.caption | safe}}</span></p>
                    <h5 class="card-title username">{{image.likes}} likes</h5>
                    <img src="{{image.profile_pic.url}}?w=50&h=50&fit=crop" class="gallery-image" alt=""  width=8 height=8>
                    <img src="{{image.image.url}}?w=800&h=1000&fit=crop" class="gallery-image"> 
                    
                    <div class="modal-footer">
                      <div class="text-center">
                        <form method="post" enctype="multipart/form-data" id='comment{{image.id}}' class="commentformsize">
                          {% csrf_token %}
                          {% bootstrap_form form%}
                        </form>
                      </div>
                    </div>

                 {%endfor%}
     
                    <div id="card{{image.id}}" class="mt-2">
                          {%for comment in comments%}
                              {%if comment.comment == image.id%}
                              <p>
                                  <strong>{{comment.username.username}}</strong> {{comment.comment}}
                              </p>
                              {%endif%}
                          {%endfor%}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  
  {% for profile in profiles%}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="users-image">
              <img src="{{profile.profile_pic.url}}?w=50&h=50&fit=crop" class="gallery-image" alt=""  width=8 height=8>
              <p  class="profile-username">  <a href="/user-profile/{{profile.id}}">{{profile.username}}</a></p>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>

</body>
